.wrapper
  div(s-child, s-controller="components/app/common/header/ctrl")
  div(s-child, s-controller="components/app/common/left/ctrl")
  div(s-child="content")
  div(s-child, s-controller="components/app/common/footer/ctrl")
  div(s-child, s-controller="components/app/common/control/ctrl")
    
