footer.main-footer
  .pull-right.hidden-xs
    b Version
    | 0.01
  strong
    | Copyright &#169; 2016-2018
    a(href="http://AdminLTE.steeljs.org/html/") AdminLTE With Steel
    | .
  | All rights
  | reserved.
